<div class="container">
  <!-- SEARCH FORM-->

  <form>

    <div class = "theForm">
      <div class = "title"><h4>NATI'S CHEAP FLIGHTS</h4></div>
      <div class="row form-group">
        <div class="col-sm-6">

          <label for="from">From:</label>
          <input type="text" class="form-control" id="from">
        </div>
        <div class="col-sm-6">

          <label for="to">To:</label>
          <input type="text" class="form-control" id="to">

        </div>
      </div>


      <div class="row form-group">
        <div class="col-sm-6">

          <label for="from">Departure:</label>
          <input type="text" class="form-control mediano" id="from">
        </div>
        <div class="col-sm-6">

          <label for="to">Return Date:</label>
          <input type="text" class="form-control mediano" id="to">

        </div>
      </div>


      <div class="row form-group">
        <div class="col-sm-4">
          <label for="to">Adults:</label>
          <input type="text" class="form-control chico" id="to">
        </div>
        <div class="col-sm-4">
          <label for="to">Children:</label>
          <input type="text" class="form-control chico" id="to">
        </div>
        <div class="col-sm-4">
          <label for="to">Infants:</label>
          <input type="text" class="form-control chico " id="to">
        </div>
      </div>



      <div class="row form-group">
        <div class="col-sm-6">

          <label for="from">Class:</label>
          <input type="text" class="form-control mediano" id="from">
        </div>
        <div class="col-sm-6">



        </div>
      </div>


      <div class="row form-group">
        <div class="col-sm-6">

          <a class="btn btn-success takeoff">TAKEOFF</a>
        </div>
        <div class="col-sm-6">



        </div>
      </div>




    </div>
  </form>


</div>


<app-results></app-results> <-- no se si esto anda en este angular -->

